image: python:3.11

stages:
  - test

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  paths:
    - .cache/pip

mobile_tests:
  stage: test
  script:
    - cd SE-mobile-tests
    - python -m pip install -U pip
    - python -m pip install -r requirements.txt
    - python -m playwright install --with-deps
    - pytest --alluredir=allure-results
  artifacts:
    when: always
    paths:
      - SE-mobile-tests/allure-results
