stages:
  - test

allure_testops:
  stage: test
  image: python:latest
  variables:
    ALLURE_ENDPOINT: "https://testops.sport-express.ru"
    ALLURE_PROJECT_ID: "16"
    ALLURE_RESULTS: "allure-results"
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  script:
    - pip install -r SE-mobile-tests/requirements.txt
    - python -m playwright install --with-deps
    - curl -fsSL -o allurectl https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64
    - chmod +x allurectl
    - mv allurectl SE-mobile-tests/allurectl
    - cd SE-mobile-tests
    - ./allurectl watch -- pytest -v --alluredir=allure-results
  artifacts:
    when: always
    paths:
      - SE-mobile-tests/allure-results
